.sidebar-icon {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: 0.3s;
}
.sidebar-icon img {
  filter: brightness(0) saturate(100%) invert(76%) sepia(87%) saturate(2403%)
    hue-rotate(204deg) brightness(97%) contrast(96%);
  margin: auto;
  transition: 0.3s;
}
.sidebar-icon:hover,
.sidebar-icon.active {
  background: #ffffff33;

  transition: 0.3s;
}
.sidebar-icon:hover img,
.sidebar-icon.active img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(107deg) brightness(104%) contrast(103%);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .sidebar-icon {
    width: 30px;
    height: 30px;
  }
  .sidebar-icon img {
    width: 20px;
    height: 20px;
  }
}
