

.ticket-row {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 1fr;
  align-items: center;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: #fff;
}

.name-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name-cell img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.ticket-row .card-state {
  width: fit-content;
  border-radius: 8px;
  padding: 4px 8px;
  background: #caedff;
  color: #2c9ed8;
}
.ticket-row .timestamp{
    color: #6C6C6C;
;
}