.row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
body {
  font-family: "DM Sans", sans-serif !important;
}
h1 {
  font-size: 20px !important;
  font-weight: 600 !important;
}
h2 {
  font-size: 14px !important;
  font-weight: 600 !important;
}
p {
  font-size: 14px !important;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
}
small {
  font-size: 12px !important;
  font-weight: 400 !important;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 18px !important;
  }

  h2 {
    font-size: 13px !important;
  }

  p {
    font-size: 13px !important;
  }

  small {
    font-size: 11px !important;
  }

  

  .message .subject {
    font-size: 13px !important;
  }


  .d-flex.flex-grow-1 {
    flex-direction: column !important;
    overflow: auto;
    margin-bottom: 30px;
  }


  .sidebar {
    flex-direction: row;
    padding: 10px 0;
  }

 
}

@media (max-width: 768px) {
  h1 {
    font-size: 16px !important;
  }

  h2 {
    font-size: 12px !important;
  }

  p {
    font-size: 12px !important;
  }

  small {
    font-size: 10px !important;
  }

  
}